.title {
  // Style
  display: block;
  margin: 0;

  // Media Queries
  @media screen and (min-width: 1400px) {
  }

  // Modifiers
  &--main {
    // Style
    margin: -60px 0 0 17px;

    // Media Queries
    @media screen and (min-width: 1400px) {
    }
  }

  &--section {
    // Style
    line-height: 66px;

    .section--result & {
      margin-bottom: 44px;
    }

    // Media Queries
    @media screen and (min-width: 1400px) {
    }
  }

  &--content {
    // Style
    margin-bottom: 33px;

    .section--process & {
      margin: 0 0 35px;
    }

    // Media Queries
    @media screen and (min-width: 1400px) {
    }
  }
}
